/* CSS Document */
.accueil{
	text-align: justify;
	text-indent: 30px;
	margin-left: 15%;
}

body{
	background-color: #8CB2FF;
}

bodyTitle{
	color: red;
}

#formrech{
	margin-top: 10px;
	margin-left: 20px;
	height: 150px;
}

.logo{
	margin: 20px 40%;
}

#menu{
	position: absolute;
	left: 0;
}

.recherche{
	padding: 10px 40px;
}

thead{
	font-weight: bold;
}

.titre{
	text-align: center;
	margin-top: 10px;
}

.titreprincipal{
  font-size : 200%;
  border : 2px ridge;
  border-color : #4B6089;
  text-align : center;
  margin-left : 40%;
  margin-right : 40%;
  padding : 10px;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}

ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}

ul.tabs li a:hover {
	background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}

.tab_content {
	margin: 22px 0px;
	padding: 0px 20px;
	font-size: 1.2em;
	background-color: #FFF5D1;
}

.navigation {
	padding: 0; 
	width: 200px; 
	font: "Trebuchet MS", sans-serif; 
	color: black;
	background-color: #FFFF66;
	height: 500px;
	margin-top: 2px;
}

.navigation a, .navigation span { 
	display: block; 
	padding: 4px 10px;
	text-decoration: none;
	color: black;
}
 
.navigation a:hover, .navigation a:focus, .navigation a:active { 
	text-decoration: underline; 
}

.navigation ul.subMenu a {
	padding: 3px 30px; 
}